* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: linear-gradient(#eceffe, #ced6fb);
}
.card-list .card-item .card-link {
  width: 700px;
  display: block;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s;
}
.card-list .card-item .card-link:hover {
  border-color: #5372f0;
}
.card-list {
  list-style: none;
}

.card-list .card-link .card-text {
  color: #000;
  font-size: 1rem;
  margin-left: 2rem;
}
.card-list .card-link .card-title {
  font-weight: 600;
  color: #ffa800;
  width: fit-content;
}
.card-wrapper {
  max-width: 1100px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}
.swiper {
  width: 900px;
  height: auto;
}
.card-wrapper .swiper-pagination-bullets {
  height: 13px;
  width: 13px;
  opacity: 0.5 !important;
  background: #5372f0 !important;
}
.card-wrapper .swiper-pagination-bullets-active {
  opacity: 1;
}
.swiper-button-next {
  top: 40% !important;
}
.swiper-button-prev {
  top: 40% !important;
}
.service-container {
  display: flex;
  flex-direction: row;
}
.service-img {
  height: auto;
  width: 15rem;
}
